<table>
    <tbody>
        <tr>
            <td>Name</td>
            <td><%= professor.name%></td>
        </tr>
        <tr>
           <td>Ratings</td>
           <td><%= result.rating%></td>
        </tr>
        <tr>
           <td>Comments</td>
           <td><%= result.comments%></td>
        </tr>
    </tbody>
</table>
