html body{
    width:100%;
}

.graph > div {
    display: inline-block;
}

#body-image {
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    position:relative;
    background-attachment: fixed;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}

#landpage-image{
    position:relative;
    width:100%;
}

.fa.fa-user{
    font-size:100%;
}

h1{
    text-align: center;

}

.ui.red.ribbon.big.label{
    margin-bottom: 1em;
}

.fluid.ui.button.myButton{
    border: none;
    background: none;
}

.fa.fa-angle-double-down{
    font-size:2em;
    transform: scale(2,1);
}

.fa.fa-angle-double-up{
      font-size:2em;
    transform: scale(2,1);  
}

.ui.top.attached.label{
    margin-top: 5px;
    text-align: center;
}


#smart{
   margin-left:5px; 
}
