<form action="/search" method="POST" >
  <input name="sub1" list="subjects">
    <datalist id="subjects">
      <option value="Computer Science"></option>
      <option value="Phyiscs"></option>
    </datalist>
    <input name="class1" type="text">
    <input name="sub2" list="subjects">
    <datalist id="subjects">
      <option value="Computer Science"></option>
      <option value="Phyiscs"></option>
    </datalist>
    <input name="class2" type="text">
    <input type="submit">
</form>