
<% result.forEach(function(x){%>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td><%= x.name%></td>
            </tr>
            <tr>
               <td>Ratings</td>
               <td><%= x.rating%></td>
            </tr>
            <tr>
               <td>Comments</td>
               <td><%= x.comments%></td>
            </tr>
        </tbody>
    </table>
    
<% }) %>

