<form action="/search" method="POST" >
    <select name="class">
      <option value="COMSCI0031">CS31</option>
      <option value="COMSCI0180">CS180</option>
    </select>
    <button type="submit">submit</button>
</form>